# {{ ansible_managed }}
{% if item.server_name is defined -%}
# Virtual Host configuration for {{ item.server_name }}
{% endif -%}
{% if item.upstream is defined -%}
upstream {{ item.upstream.name }} {
    {{ item.upstream.content }}
}
{% endif %}

{% if item.ssl.certificate is defined -%}
server {
    listen {{ item.listen | default(80) }}{{ item.default | default(false) | ternary(' default_server', '') }};
    listen [::]:{{ item.listen | default(80) }}{{ item.default | default(false) | ternary(' default_server', '') }};
    {% if item.server_name is defined -%}
    server_name {{ item.server_name if item.server_name is string else item.server_name | join(' ') }};
    {% endif -%}
    location ^~ /.well-known/acme-challenge/ {
      default_type "text/plain";
      alias /var/lib/dehydrated/acme-challenges/;
    }
    location / {
        return 301 https://$host$request_uri;
    }
}
{% endif -%}

server {
    {% if item.ssl.certificate is defined -%}
    listen 443 ssl http2{{ item.default | default(false) | ternary(' default_server', '') }};
    listen [::]:443 ssl http2{{ item.default | default(false) | ternary(' default_server', '') }};
    {% else -%}
    listen {{ item.listen | default(80) }}{{ item.default | default(false) | ternary(' default_server', '') }};
    listen [::]:{{ item.listen | default(80) }}{{ item.default | default(false) | ternary(' default_server', '') }};
    {% endif -%}

    {% if item.variables is defined -%}
    {% for variable in item.variables | default([]) -%}
    set ${{ variable.name }} {{ variable.value }};
    {% endfor -%}
    {% endif -%}

    {% for include_file in item.includes | default([]) -%}
    include {{ include_file }};
    {% endfor -%}

    client_max_body_size {{ item.client_max_body_size | default(nginx_default_client_max_body_size) }};

    {% if item.server_name is defined -%}
    server_name {{ item.server_name is string | ternary(item.server_name, item.server_name | join(' ')) }};
    {% endif -%}

    {% if item.access_log is defined -%}
    access_log {{ item.access_log }};
    {% endif -%}
    {% if item.error_log is defined -%}
    error_log {{ item.error_log }};
    {% endif -%}

    {% if item.document_root is defined -%}
    root {{ item.document_root }};
    {% endif -%}

    {% if item.index is defined -%}
    index {{ item.index is string | ternary(item.index, item.index | join(' ')) }};
    {% endif -%}

    {% for add_header in item.add_headers | default([]) -%}
    add_header {{ add_header.name }} {{ add_header.value }};
    {% endfor -%}

    {% for location in item.locations | default([]) -%}
    {% if location.comment is defined -%}
    # {{ location.comment }}
    {% endif -%}
    location {{ location.match_type | default('') }} {{ location.pattern }} {
        {{ location.content | indent(8) }}
    }
    {% endfor -%}

    {% if item.ssl.certificate is defined -%}
    ssl on;
    # certs sent to the client in SERVER HELLO are concatenated in ssl_certificate
    ssl_certificate {{ item.ssl.certificate }};
    ssl_certificate_key {{ item.ssl.certificate_key }};
    {% if item.ssl.trusted_certificate is defined -%}
    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate {{ item.ssl.trusted_certificate }};
    {% endif -%}

    {% if item.ssl.protocols is defined -%}
    ssl_protocols {{ item.ssl.protocols | join(' ') }};
    {% endif -%}
    {% if item.ssl.ciphers is defined -%}
    ssl_ciphers "{{ item.ssl.ciphers | join(':') }}";
    {% endif -%}
    {% if item.ssl.prefer_server_ciphers is defined -%}
    ssl_prefer_server_ciphers {{ item.ssl.prefer_server_ciphers | ternary('on', 'off') }};
    {% endif -%}

    {% if item.ssl.session_timeout is defined -%}
    ssl_session_timeout {{ item.ssl.session_timeout }};
    {% endif -%}
    {% if item.ssl.session_cache is defined -%}
    ssl_session_cache {{ item.ssl.session_cache }};
    {% endif -%}
    {% if item.ssl.session_tickets is defined -%}
    ssl_session_tickets {{ item.ssl.session_tickets | ternary('on', 'off') }};
    {% endif -%}

    {% if item.ssl.dhparam is defined -%}
    # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
    ssl_dhparam {{ item.ssl.dhparam }};
    {% endif -%}

    {% if item.ssl.hsts is defined -%}
    # HSTS (ngx_http_headers_module is required)
    add_header Strict-Transport-Security "{{ item.ssl.hsts }}" always;
    {% endif -%}

    {% if item.ssl.stapling is defined -%}
    # OCSP Stapling ---
    # fetch OCSP records from URL in ssl_certificate and cache them
    ssl_stapling {{ item.ssl.stapling | ternary('on', 'off') }};
    {% endif -%}
    {% if item.ssl.stapling_verify is defined  -%}
    ssl_stapling_verify {{ item.ssl.stapling_verify | ternary('on', 'off') }};
    {% endif -%}
    {% endif -%}
    {% if item.extra_setting is defined -%}
    # Extra setting
    {{ item.extra_setting | indent(8) }}
    {% endif %}
}
