Timeout {{ apache_performance_cfg.timeout }}
KeepAlive {{ 'On' if apache_performance_cfg.keep_alive else 'Off' }}
MaxKeepAliveRequests {{ apache_performance_cfg.max_keep_alive_requests }}
KeepAliveTimeout {{ apache_performance_cfg.keep_alive_timeout }}
MaxConnectionsPerChild {{ apache_performance_cfg.max_connections_per_child }}

<IfModule prefork.c>
  StartServers {{ apache_performance_cfg.prefork.start_servers }}
  MinSpareServers {{ apache_performance_cfg.prefork.min_spare_servers }}
  MaxSpareServers {{ apache_performance_cfg.prefork.max_spare_servers }}
  MaxRequestWorkers {{ apache_performance_cfg.prefork.max_request_workers }}
  ServerLimit {{ apache_performance_cfg.prefork.server_limit }}
</IfModule>

<IfModule worker.c>
  StartServers {{ apache_performance_cfg.worker.start_servers }}
  MinSpareThreads {{ apache_performance_cfg.worker.min_spare_threads }}
  MaxSpareThreads {{ apache_performance_cfg.worker.max_spare_threads }}
  MaxRequestWorkers {{ apache_performance_cfg.worker.max_request_workers }}
  ThreadsPerChild {{ apache_performance_cfg.worker.threads_per_child }}
  ThreadLimit {{ apache_performance_cfg.worker.thread_limit }}
  ServerLimit {{ apache_performance_cfg.worker.server_limit }}
</IfModule>

<IfModule event.c>
  StartServers {{ apache_performance_cfg.event.start_servers }}
  MinSpareThreads {{ apache_performance_cfg.event.min_spare_threads }}
  MaxSpareThreads {{ apache_performance_cfg.event.max_spare_threads }}
  MaxRequestWorkers {{ apache_performance_cfg.worker.max_request_workers }}
  ThreadsPerChild {{ apache_performance_cfg.event.threads_per_child }}
  ThreadLimit {{ apache_performance_cfg.event.thread_limit }}
  ServerLimit {{ apache_performance_cfg.event.server_limit }}
  AsyncRequestWorkerFactor {{ apache_performance_cfg.event.async_request_worker_factor }}
</IfModule>
