[defaults]
hash_behaviour = merge
retry_files_enabled = False
host_key_checking = False

# --------------
# Mitogen for Ansible
# https://mitogen.networkgenomics.com/ansible_detailed.html
# --------------
strategy_plugins = mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
