[Unit]
Description=MailCatcher Service
After=network.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mailcatcher -f \
  --smtp-ip {{ mailcatcher_smtp_ip }} \
  --smtp-port {{ mailcatcher_smtp_port }} \
  --http-ip {{ mailcatcher_http_ip }} \
  --http-port {{ mailcatcher_http_port }} \
  --http-path {{ mailcatcher_http_path }}
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
