### macOS ###
.DS_Store

### Windows ###
Thumbs.db

### Cache file directory ###
.cache
*.cache

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

### mkdocs documentation ###
/site

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
!.vscode/*.code-snippets

### VisualStudioCode Code Spell Checker ###
!.vscode/cspell.json
!.vscode/dictionaries/*.txt

### VisualStudioCode SQLTools ###
lde.session.sql

### PhpStorm / WebStorm ###
.idea/

# pipenv(Python)
.venv/

## bundler(Ruby)
.bundle/

### Ansible ###
.ansible

### Composer ###
composer.phar
/vendor/

### Node ###
/node_modules/

### Vagrant ###
.vagrant/

### dotenv ###
.env

### direnv ###
.direnv
.envrc

### phpDocumenter output directory ###
docs/api/

### dev container ###
.devcontainer/log/*
.devcontainer/provision/roles/

### other ###
.devcontainer/host_vars/default.yml
provision_config.yml
wiki/
issues/

### CakePHP ####
/config/app_local.php
/config/.env
/config/Migrations/schema-dump-default.lock
/logs/
/tmp/
/vendor/
/.phpstorm.meta.php/
