### macOS ###
.DS_Store

### Windows ###
Thumbs.db

# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### PhpStorm / WebStorm ###
.idea/

### Composer ###
composer.phar
/vendor/

### Node ###
/node_modules/

## Environment normalization:
/.bundle/

### Vagrant ###
.vagrant/

### dotenv ###
.env

### direnv ###
.direnv
.envrc

### API Document ###
docs/api/

### project wiki page ###
wiki/
