---
language: python
services: docker
env:
  global:
    - ROLE_NAME: apache
install:
  - pip install molecule yamllint ansible-lint docker
before_script:
  - cd ../
  - mv ansible-role-$ROLE_NAME $ROLE_NAME
  - cd $ROLE_NAME
script:
  - molecule test
notifications:
  email: false
  slack:
    secure: EjQCErzW1JwqRo7xb1ASYRDCgWgN8Rc93KGzlCdExkKCti+BRHAae3d1vQrisIag8zaVEMkDKNvErvLD6c2f/Y8h6KDjAnnugS5R/qFjz10fX3t3Ieky2xzj5azEVLVsiUUYUgL5e4giRVjiTPxEibwybkA2LU6QlFZhI1yRDaxkjhsCf3J5bOhgNer1p9HFh/F08vaunIiY3kUNfXhZ/MQYeOHUq9QsWFbKNMARyd6Rn/im3W0WKp4fGZa11izls3rsUFZxgJDzi/Y3D7aoVKDL05m36xWTjeNpsuY9ACCbwrc/wZbKDHO8U6mcjtizB8jvbJwixktOxXn9+6LvcKcYsK2S4Q47jhpa+n2upZrFiRLHTaof6cYPNTXpbzH+AjQtwo5PTac48QdweSCA4WeOIlLQukhhhBUctQ3pihtPPYI0tPLAUYG/2iEdMmScTCIWjHSBlPe1TNtozD4TDG/QV+xJhzUpZB11R7Ifpu0FIw4hs9tBSDEcIi44OOMDNllip2DBDmZzjuIU9K0ETcDxPy06/5CXAR4ETJRs5rOmB4tj99RJCZ6QWT0ylczEUl/8paIqC/sqXiCujpw7ngoeeHx1ZmbB5rgxUeibE3FVhSmWAmIt4HF+iVzk2YyBkz5hSe5u+hWgrFXdySjv4MeEEFWTn1BMvTMH2wjYRm0=
