[defaults]
retry_files_enabled = false
host_key_checking = false
## ディクショナリ変数(ハッシュ / マップ / 連想配列)の処理方法
hash_behaviour = merge
## インベントリファイルのパス
inventory = inventory.yml
## 標準出力への出力方法
stdout_callback = community.general.yaml
## factキャッシュの有効化/保存形式
# fact_caching = ansible.builtin.jsonfile
## キャッシュの接続先/保存先パス
# fact_caching_connection =
## キャッシュの有効期限(秒)
# fact_caching_timeout = 86400
