[defaults]
retry_files_enabled = false
host_key_checking = false
## ディクショナリ変数(ハッシュ / マップ / 連想配列)の処理方法
hash_behaviour = merge
## インベントリファイルのパス
inventory = inventory.yml
## 標準出力への出力方法
stdout_callback = community.general.yaml

## fact変数のキャッシュ
fact_caching = community.general.yaml
## キャッシュ保存先
fact_caching_connection = .cache
## キャッシュの有効期限
# fact_caching_timeout = 86400

[diff]
# always = False
# context = 3
