[defaults]
retry_files_enabled = false
host_key_checking = false
hash_behaviour = merge
result_format=yaml

inventory = inventory.yml
# executable = /bin/sh

gathering = smart
fact_caching = jsonfile
# fact_caching = yaml
fact_caching_connection = .cache
# fact_caching_timeout = 86400

roles_path = .vagrant/provisioners/ansible/roles

[diff]
# always = False
# context = 3

[connection]
pipelining = True
