---
# code: language=ansible
# Verify security configurations
- name: Verify fail2ban installation
  tags:
    - verify
    - verify_security
    - verify_fail2ban
  ansible.builtin.assert:
    that:
      - ansible_facts.packages['fail2ban'] is defined
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "fail2ban is not installed"
    success_msg: "fail2ban is installed"
- name: Verify fail2ban is running
  tags:
    - verify
    - verify_security
    - verify_fail2ban
  ansible.builtin.assert:
    that:
      - ansible_facts.services['fail2ban.service'] is defined
      - ansible_facts.services['fail2ban.service']['state'] == 'running'
      - ansible_facts.services['fail2ban.service']['status'] == 'enabled'
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "fail2ban is not running"
    success_msg: "fail2ban is running"
- name: Check fail2ban configuration
  ansible.builtin.stat:
    path: /etc/fail2ban/jail.local
  register: fail2ban_config_result
- name: Verify fail2ban configuration exists
  tags:
    - verify
    - verify_security
    - verify_fail2ban
  ansible.builtin.assert:
    that:
      - fail2ban_config_result.stat.exists
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "fail2ban configuration file does not exist"
    success_msg: "fail2ban configuration file exists"
- name: Verify UFW installation
  tags:
    - verify
    - verify_security
    - verify_ufw
  ansible.builtin.assert:
    that:
      - ansible_facts.packages['ufw'] is defined
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "ufw is not installed"
    success_msg: "ufw is installed"
- name: Verify UFW is running
  tags:
    - verify
    - verify_security
    - verify_ufw
  ansible.builtin.assert:
    that:
      - ansible_facts.services['ufw.service'] is defined
      - ansible_facts.services['ufw.service']['status'] == 'enabled'
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "ufw is not running"
    success_msg: "ufw is running"
- name: Check SSH configuration
  ansible.builtin.stat:
    path: /etc/ssh/sshd_config
  register: sshd_config_result
- name: Verify SSH configuration exists
  tags:
    - verify
    - verify_security
    - verify_ssh
  ansible.builtin.assert:
    that:
      - sshd_config_result.stat.exists
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "SSH configuration file does not exist"
    success_msg: "SSH configuration file exists"
- name: Determine SSH service name
  tags:
    - verify
    - verify_security
    - verify_ssh
  ansible.builtin.set_fact:
    ssh_service_name: "{{ 'ssh.service' if 'ssh.service' in ansible_facts.services else 'sshd.service' }}"
- name: Verify SSH service is running
  tags:
    - verify
    - verify_security
    - verify_ssh
  ansible.builtin.assert:
    that:
      - ansible_facts.services[ssh_service_name] is defined
      - ansible_facts.services[ssh_service_name]['state'] == 'running'
      - ansible_facts.services[ssh_service_name]['status'] == 'enabled'
    quiet: "{{ assert_quiet_mode }}"
    fail_msg: "SSH service is not running"
    success_msg: "SSH service is running"
