; {{ ansible_managed }}
{% for eventlistener_cfg in supervisor_eventlistener_cfg %}
[eventlistener:{{ eventlistener_cfg.name }}]
command={{ eventlistener_cfg.command }}
events={{ eventlistener_cfg.events }}
{% if eventlistener_cfg.process_name is defined -%}
process_name={{ eventlistener_cfg.process_name }}
{% endif %}
{% if eventlistener_cfg.numprocs is defined -%}
numprocs={{ eventlistener_cfg.numprocs }}
{% endif %}
{% if eventlistener_cfg.buffer_size is defined -%}
buffer_size={{ eventlistener_cfg.buffer_size }}
{% endif %}
{% if eventlistener_cfg.directory is defined -%}
directory={{ eventlistener_cfg.directory }}
{% endif %}
{% if eventlistener_cfg.priority is defined -%}
priority={{ eventlistener_cfg.priority }}
{% endif %}
{% if eventlistener_cfg.autostart is defined -%}
autostart={{ 'true' if eventlistener_cfg.autostart else 'false' }}
{% endif %}
{% if eventlistener_cfg.autorestart is defined -%}
autorestart={{ eventlistener_cfg.autorestart }}
{% endif %}
{% if eventlistener_cfg.startsecs is defined -%}
startsecs={{ eventlistener_cfg.startsecs }}
{% endif %}
{% if eventlistener_cfg.startretries is defined -%}
startretries={{ eventlistener_cfg.startretries }}
{% endif %}
{% if eventlistener_cfg.exitcodes is defined -%}
exitcodes={{ eventlistener_cfg.exitcodes if eventlistener_cfg.exitcodes is string else eventlistener_cfg.exitcodes|join(',') }}
{% endif %}
{% if eventlistener_cfg.stopsignal is defined -%}
stopsignal={{ eventlistener_cfg.stopsignal }}
{% endif %}
{% if eventlistener_cfg.stopwaitsecs is defined -%}
stopwaitsecs={{ eventlistener_cfg.stopwaitsecs }}
{% endif %}
{% if eventlistener_cfg.user is defined -%}
user={{ eventlistener_cfg.user }}
{% endif %}
{% if eventlistener_cfg.redirect_stderr is defined -%}
redirect_stderr={{ 'true' if eventlistener_cfg.redirect_stderr else 'false' }}
{% endif %}
{% if eventlistener_cfg.stdout_logfile is defined -%}
stdout_logfile={{ eventlistener_cfg.stdout_logfile }}
{% endif %}
{% if eventlistener_cfg.stdout_logfile_maxbytes is defined -%}
stdout_logfile_maxbytes={{ eventlistener_cfg.stdout_logfile_maxbytes }}
{% endif %}
{% if eventlistener_cfg.stdout_logfile_backups is defined -%}
stdout_logfile_backups={{ eventlistener_cfg.stdout_logfile_backups }}
{% endif %}
{% if eventlistener_cfg.stdout_capture_maxbytes is defined -%}
stdout_capture_maxbytes={{ eventlistener_cfg.stdout_capture_maxbytes }}
{% endif %}
{% if eventlistener_cfg.stdout_events_enabled is defined -%}
stdout_events_enabled={{ 'true' if eventlistener_cfg.stdout_events_enabled else 'false' }}
{% endif %}
{% if eventlistener_cfg.stderr_logfile is defined -%}
stderr_logfile={{ eventlistener_cfg.stderr_logfile }}
{% endif %}
{% if eventlistener_cfg.stderr_logfile_maxbytes is defined -%}
stderr_logfile_maxbytes={{ eventlistener_cfg.stderr_logfile_maxbytes }}
{% endif %}
{% if eventlistener_cfg.stderr_logfile_backups is defined -%}
stderr_logfile_backups={{ eventlistener_cfg.stderr_logfile_backups }}
{% endif %}
{% if eventlistener_cfg.stderr_capture_maxbytes is defined -%}
stderr_capture_maxbytes={{ eventlistener_cfg.stderr_capture_maxbytes }}
{% endif %}
{% if eventlistener_cfg.stderr_events_enabled is defined -%}
stderr_events_enabled={{ 'true' if eventlistener_cfg.stderr_events_enabled else 'false' }}
{% endif %}
{% if eventlistener_cfg.environment is defined -%}
environment={{ eventlistener_cfg.environment if eventlistener_cfg.environment is string else eventlistener_cfg.environment|join(',') }}
{% endif %}
{% if eventlistener_cfg.serverurl is defined -%}
serverurl={{ eventlistener_cfg.serverurl }}
{% endif %}
{% endfor %}
