---
common_packages:
  - unzip
  - zip
  - perl
  - cpp
  - make
  - autoconf
  - automake
  - diffstat
  - m4
  - libtool
  - gcc
  - gcc-c++
  - patch
  - git
  - yum-utils
  - vim-enhanced
  - bash-completion
  - tig

common_groups: []
  # - name: group1
  # - name: group2
  #   remove: yes
  # - name: system_group
  #   system: yes
  # - name: system_group_with_id
  #   id: 1000
  #   system: yes

common_users: []
  # - name: sample_user
  #   # Optional
  #   password: "{{ 'password'|password_hash('sha512') }}"
  #   groups:
  #     - group1
  #     - group2
  #   authorized_keys:
  #     - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
  #     - https://github.com/wate.keys
  #   shell: /bin/nologin
  #   id: 100000
  #   system: yes
  #   admin: no
  #   remove: yes

common_hostname: "{{ inventory_hostname }}"

common_ssh_port: 22
common_ssh_use_geoip_filter: yes
common_ssh_allow_countries:
  - JP

common_cron_geoip_update:
  hour: 4
  minute: 0

# common_root_lock: no

fail2ban_cfg: |
  #[DEFAULT]
  #bantime  = 10m
  #findtime  = 10m
  #maxretry = 5
  #sender = root@<fq-hostname>
  #destemail = root@localhost
  [sshd]
  enabled = true

sudo_require_password: no

common_swap_dest: /var/spool/swap/swapfile
common_swap_size: "{{ (((ansible_memtotal_mb + 50) / 1000)|round(1, 'floor')|float * 2)|int }}"
