---
common_packages:
  - unzip
  - zip
  - perl
  - cpp
  - make
  - autoconf
  - automake
  - diffstat
  - m4
  - libtool
  - gcc
  - gcc-c++
  - patch
  - git
  - yum-utils
  - vim-enhanced
  - bash-completion
  - tig
  - postfix

common_groups: []
  # - name: group1
  # - name: group2
  #   removed: true
  # - name: system_group
  #   system: true
  # - name: system_group_with_id
  #   id: 1000
  #   system: true

common_users: []
  # - name: sample_user
  #   # Optional
  #   password: "{{ 'password' | password_hash('sha512') }}"
  #   groups:
  #     - group1
  #     - group2
  #   authorized_keys:
  #     - key: https://github.com/wate.keys
  #     - key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
  #       removed: true
  #   shell: /bin/nologin
  #   ssh_config:
  #     - name: github.com
  #       content: |
  #         HostName github.com
  #         User git
  #         IdentityFile ~/.ssh/github_deploy_key
  #         StrictHostKeyChecking no
  #     - name: bitbucket.org
  #       content: |
  #         HostName bitbucket.org
  #         User git
  #         IdentityFile ~/.ssh/bitbucket_deploy_key
  #         StrictHostKeyChecking no
  #     - name: gitlab.com
  #       content: |
  #         HostName gitlab.com
  #         User git
  #         IdentityFile ~/.ssh/gitlab_deploy_key
  #         StrictHostKeyChecking no
  #   # コントロールマシン上の秘密鍵をターゲットマシンの該当ユーザーの~/.ssh/{name}に配置します
  #   upload_private_keys:
  #     - name: github_deploy_key
  #       src: ~/.ssh/github
  #     - name: bitbucket_deploy_key
  #       src: ~/.ssh/bitbucket
  #     - name: gitlab_deploy_key
  #       src: ~/.ssh/gitlab
  #   secret_vars:
  #     - name: DB_HOST
  #       value: localhost
  #     - name: DB_NAME
  #       value: app
  #     - name: DB_USER
  #       value: app_db_user
  #     - name: DB_PASS
  #       value: app_db_pass
  #     - name: REMOVED_VAR
  #       value: app_db_pass
  #       removed: true
  #   cron_jobs:
  #     - name: display date
  #       job: date
  #       minute: 1
  #       hour: 2
  #       day: 3
  #       month: 4
  #       weekday: 5
  #     - name: disable job
  #       job: mkr wrap -- /path/to/your-batch
  #       day: 2
  #       disable: true
  #     - name: remove job
  #       job: mkr wrap -- /path/to/your-batch
  #       day: 3
  #       removed: true
  #   cron_vars:
  #     - name: EMAIL
  #       value: test@example.com
  #     - name: SOME_NAME
  #       value: SOME_VALUE
  #       removed: true
  #       admin: false
  #   # パスワードの更新(on_create or always)
  #   update_password: on_create
  #   # パスワードのロック
  #   password_lock: false
  #   system: true
  #   id: 100000
  #   removed: true

common_hostname: "{{ inventory_hostname }}"

common_ssh_port: 22
common_ssh_use_geoip_filter: true
common_ssh_allow_countries:
  - JP

common_cron_geoip_update:
  hour: 4
  minute: 0

# common_root_lock: false

fail2ban_cfg: |
  #[DEFAULT]
  #bantime  = 10m
  #findtime  = 10m
  #maxretry = 5
  #sender = root@<fq-hostname>
  #destemail = root@localhost
  [sshd]
  enabled = true

sudo_require_password: false

yum_cron_daily_cfg: []
  # ## Update Setting
  # - section: commands
  #   name: update_cmd
  #   # default / security / security-severity:Critical / minimal / minimal-security / minimal-security-severity:Critical
  #   value: default
  # - section: commands
  #   name: update_messages
  #   value: "yes"
  # - section: commands
  #   name: download_updates
  #   value: "yes"
  # - section: commands
  #   name: apply_updates
  #   value: "no"
  # - section: commands
  #   name: random_sleep
  #   value: 360
  # ## Email Setting
  # - section: email
  #   name: email_from
  #   value: root@localhost
  # - section: email
  #   name: email_to
  #   value: root
  # - section: email
  #   name: email_host
  #   value: localhost

yum_cron_hourly_cfg: []
  # ## Update Setting
  # - section: commands
  #   name: update_cmd
  #   # default / security / security-severity:Critical / minimal / minimal-security / minimal-security-severity:Critical
  #   value: default
  # - section: commands
  #   name: update_messages
  #   value: "no"
  # - section: commands
  #   name: download_updates
  #   value: "no"
  # - section: commands
  #   name: apply_updates
  #   value: "no"
  # - section: commands
  #   name: random_sleep
  #   value: 15
  # ## Email Setting
  # - section: email
  #   name: email_from
  #   value: root
  # - section: email
  #   name: email_to
  #   value: root
  # - section: email
  #   name: email_host
  #   value: localhost

common_swap_dest: /var/spool/swap/swapfile
common_swap_size: "{{ (((ansible_memtotal_mb + 50) / 1000) | round(1, 'floor') | float * 2) | int }}"

common_files:
  # # ローカルにあるファイルをアップロード
  # - dest: /usr/local/bin/upload-script
  #   src: path/to/script
  #   mode: "0755"
  #   # owner: root
  #   # group: root
  #   # checksum: 1234567890abcdefghijklmnopqrstuvwxyz
  # # リモートファイルをダウンロード
  # - dest: /usr/local/bin/download-script
  #   url: http://www.example.com/path/to/script
  #   mode: "0755"
  #   # owner: root
  #   # group: root
  #   # auth_basic_user: user
  #   # auth_basic_password: password
  #   # checksum: 1234567890abcdefghijklmnopqrstuvwxyz
  # # 既存のファイルを削除
  # - dest: /usr/local/bin/batch-script
  #   ## ※この属性が指定されている場合は設定値の如何に関わらず、ファイルが存在する場合は削除する
  #   removed: true

common_cron_vars: []
  # - name: PATH
  #   value: /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
  # - name: MAILTO
  #   value: root
  # - name: SHELL
  #   value: /usr/bin/bash
  # - name: HOME
  #   value: /
  #   removed: true

common_cron_jobs: []
  # - name: check ssl expiration date
  #   ## 定期実行コマンド
  #   job: cert -f json example.com
  #   ## 定期実行日時(時)
  #   hour: 1
  #   ## 定期実行日時(分)
  #   minute: 23
  #   ## 定期実行日時(日)
  #   # day: "*"
  #   ## 定期実行日時(月)
  #   # month: "*"
  #   ## 定期実行日時(曜日)
  #   # weekday: "*"
  #   ## 実行ユーザー
  #   # user: root
  #   ## 定期実行設定は残したまま無効化するか否か
  #   # disabled: true
  #   ## 定期実行設定の存在の有無(これが指定された場合は値の如何に関わらず、設定が存在する場合は削除する)
  #   # removed: true
