{% for section_name,overwrite_settings in fail2ban_jail_cfg.iteritems() %}
[{{ section_name }}]
{% for option_name, option_value in overwrite_settings.iteritems() %}
{{ option_name }} = {{ option_value }}
{% endfor %}
{% endfor %}
