---
- name: setup sudo
  import_tasks: sudo.yml
  tags: sudo
- name: set hostname
  hostname:
    name: "{{ common_hostname }}"
  tags:
    - hostname
- name: change home directory permission
  file:
    path: /home
    mode: "0755"
    state: directory
- name: install common packages
  yum:
    name: "{{ common_packages }}"
- name: manage user skeleton directory
  import_tasks: skeleton.yml
  tags: skeleton
- name: manage user
  import_tasks: user.yml
  tags: user
- name: install firewalld
  yum:
    name: firewalld
- name: firewalld is active and enabled on system startup
  systemd:
    name: firewalld
    state: started
    enabled: yes
- name: get system locale
  shell: |
    set -o pipefail
    localectl | grep "System Locale:"
  register: result
  changed_when: false
- name: set locale
  command: localectl set-locale LANG=ja_JP.utf8
  when: "'LANG=ja_JP.utf8' not in result.stdout"
  tags:
    - skip_ansible_lint
- name: setup etckeeper
  import_tasks: etckeeper.yml
  tags: etckeeper
- name: setup yum-cron
  import_tasks: yum-cron.yml
  tags: yum-cron
- name: check ansible manage cron job file
  stat:
    path: /etc/cron.d/ansible_management_job
  register: result
- name: create ansible manage cron job file
  file:
    path: /etc/cron.d/ansible_management_job
    state: touch
  when: not result.stat.exists
- name: setup ssh
  import_tasks: ssh.yml
  tags: swap
- name: setup fail2ban
  import_tasks: fail2ban.yml
  tags: fail2ban
- name: setup swap
  import_tasks: swap.yml
  when: ansible_memory_mb.swap is undefined or ansible_memory_mb.swap.total == 0
  tags:
    - swap
