# --------------
# ドメイン名
# ※以下の各設定項目に記載している「{{ domain }}」の値
# --------------
domain: example.com

# --------------
# lexiconプロバイダー
# cloudflare / route53 / vultr
# -------------
lexicon_provider: cloudflare
# --------------
# CloudflareのAPI接続情報
# --------------
cloudflare_email: "{{ lookup('env','CLOUDFLARE_EMAIL') }}"
cloudflare_token: "{{ lookup('env','CLOUDFLARE_TOKEN') }}"
# --------------
# AWS Route53のAPI接続情報
# --------------
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY_ID') }}"
aws_access_secret: "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"
# --------------
# VultrのAPI接続情報
# --------------
vultr_token: "{{ lookup('env','VULTR_TOKEN') }}"

# --------------
# MariaDBのrootパスワード
# --------------
mariadb_root_password: r00tP@55w0rd

# --------------
# PHPのバージョン
#
# 指定可能な値は以下の通り
# - 5.4
# - 5.5
# - 5.6
# - 7.0
# - 7.1
# - 7.2
# --------------
php_version: 7.1

# --------------
# MariaDBの設定
# --------------
# デフォルトの文字コード
mariadb_default_charset: utf8mb4
# デフォルトの文字照合順序
mariadb_default_collation: utf8mb4_general_ci

# --------------
# MariaDB用のfirewalld設定
# --------------
mariadb_allow_host: "192.168.33.0/24"

# --------------
# データベース
# --------------
mariadb_databases:
  # 開発用データベース
  - name: app_dev
    password: app_dev_p@ssw0rd
    hosts:
      - "127.0.0.1"
      - localhost
      - "192.168.33.%"
  # テスト用データベース
  - name: app_test
    # import_data: /vagrant/source/test_data.sql
    password: app_test_p@ssw0rd
    hosts:
      - "127.0.0.1"
      - localhost
      - "192.168.33.%"
  # ステージング用データベース
  - name: app_staging
    password: app_staging_p@ssw0rd
    hosts:
      - "127.0.0.1"
      - localhost
      - "192.168.33.%"
  # 本番用データベース
  - name: app_prod
    user: app_prod_user
    password: app_prod_p@55w0rd
    hosts:
      - "127.0.0.1"
      - localhost
      - "192.168.33.%"
  # WWW SQL Designer用データベース
  - name: wwwsqldesigner
    password: wwwsqldesigner_p@ssw0rd
    hosts:
      - "127.0.0.1"
      - localhost

# --------------
# インストールするPHPのパッケージ
# --------------
php_packages:
  - php
  - php-common
  - php-cli
  - php-devel
  - php-opcache
  - php-mbstring
  - php-mysqlnd
  - php-intl
  - php-json
  - php-pdo
  - php-gd
  - php-xml

# --------------
# php.iniの初期値を上書きする項目
# その他の設定値は、「provision/roles/php/defaults/main.yml」の「php_cfg」の項目を参照
# --------------
php_cfg:
  sendmail_path: "/usr/bin/env catchmail -f admin@{{ domain }}"

# --------------
# WWW SQL Designerのバックエンドの設定
# --------------
wwwsqldesigner_backend_pdo_cfg:
  save:
    type: mysql
    dsn: "mysql:dbname=wwwsqldesigner;host=localhost"
    user: wwwsqldesigner
    password: wwwsqldesigner_p@ssw0rd
  import:
    type: mysql
    dsn: "mysql:dbname=information_schema;host=localhost"
    user: root
    password: r00tP@55w0rd


# --------------
# Apacheのバーチャルホストの設定
# --------------
apache_vhosts:
  # ローカルのPCと共有している領域 ( http://www.<ドメイン>/ )
  - name: 00-default_ssl
    # サーバー名
    server_name: www.{{ domain }}
    # ドキュメントルート
    document_root: /vagrant/source
    # サーバー名の別名
    server_alias: "{{ domain }}"
    # スニペットの読み込み
    include:
      - "{{ apache_snippet_dir }}/redirect_www.conf"
    ssl:
      certificate_file: "{{ dehydrated_cert_dir }}/{{ domain }}/cert.pem"
      certificate_key_file: "{{ dehydrated_cert_dir }}/{{ domain }}/privkey.pem"
      certificate_chain_file: "{{ dehydrated_cert_dir }}/{{ domain }}/chain.pem"
      # HTTP Strict Transport Security
      # hsts: "max-age=15768000"
  - name: 00-default
    server_name: www.{{ domain }}
    document_root: /vagrant/source
    server_alias: "{{ domain }}"
    include:
      - "{{ apache_snippet_dir }}/redirect_www.conf"
      - "{{ apache_snippet_dir }}/redirect_https.conf"
  # phpMyAdmin用のバーチャルホスト ( http://db.<ドメイン>/ )
  # https://www.phpmyadmin.net/
  - name: 01-phpMyAdmin_ssl
    server_name: db.{{ domain }}
    document_root: "{{ phpmyadmin_dest }}"
    # Optionsの設定値
    options:
      - "-Indexes"
      - "+FollowSymLinks"
    # AllowOverrideの設定値
    allow_override: All
    # Requireの設定値
    require:
      - type: ip
        value: 192.168.33
    ssl:
      certificate_file: "{{ dehydrated_cert_dir }}/{{ domain }}/cert.pem"
      certificate_key_file: "{{ dehydrated_cert_dir }}/{{ domain }}/privkey.pem"
      certificate_chain_file: "{{ dehydrated_cert_dir }}/{{ domain }}/chain.pem"
  - name: 01-phpMyAdmin
    server_name: db.{{ domain }}
    document_root: "{{ phpmyadmin_dest }}"
    include:
      - "{{ apache_snippet_dir }}/redirect_https.conf"
  # MailCatcher用のバーチャルホスト ( http://mail.<ドメイン>/ )
  # https://mailcatcher.me/
  - name: 02-MailCatcher_ssl
    server_name: mail.{{ domain }}
    # リバースプロキシの設定
    proxy_pass:
      - from: /
        to: "http://localhost:{{ mailcatcher_web_port }}/"
    proxy_pass_reverse:
      - from: /
        to: "http://localhost:{{ mailcatcher_web_port }}/"
    ssl:
      certificate_file: "{{ dehydrated_cert_dir }}/{{ domain }}/cert.pem"
      certificate_key_file: "{{ dehydrated_cert_dir }}/{{ domain }}/privkey.pem"
      certificate_chain_file: "{{ dehydrated_cert_dir }}/{{ domain }}/chain.pem"
  - name: 02-MailCatcher
    server_name: mail.{{ domain }}
    include:
      - "{{ apache_snippet_dir }}/redirect_https.conf"
  # WWW SQL Designer用のバーチャルホスト ( http://er.<ドメイン>/ )
  # https://github.com/ondras/wwwsqldesigner
  - name: 03-WWWSQLDesigner_ssl
    server_name: er.{{ domain }}
    document_root: "{{ wwwsqldesigner_dest }}"
    options:
      - "-Indexes"
      - "+FollowSymLinks"
    allow_override: All
    require:
      - type: ip
        value: 192.168.33
    ssl:
      certificate_file: "{{ dehydrated_cert_dir }}/{{ domain }}/cert.pem"
      certificate_key_file: "{{ dehydrated_cert_dir }}/{{ domain }}/privkey.pem"
      certificate_chain_file: "{{ dehydrated_cert_dir }}/{{ domain }}/chain.pem"
  - name: 03-WWWSQLDesigner
    server_name: er.{{ domain }}
    include:
      - "{{ apache_snippet_dir }}/redirect_https.conf"
  # rtail用のバーチャルホスト ( http://log.<ドメイン>/ )
  # https://github.com/kilianc/rtail
  - name: 04-rtail_ssl
    server_name: log.{{ domain }}
    # リバースプロキシの設定
    proxy_pass:
      - from: /
        to: "http://localhost:{{ rtail_web_port }}/"
    proxy_pass_reverse:
      - from: /
        to: "http://localhost:{{ rtail_web_port }}/"
    ssl:
      certificate_file: "{{ dehydrated_cert_dir }}/{{ domain }}/cert.pem"
      certificate_key_file: "{{ dehydrated_cert_dir }}/{{ domain }}/privkey.pem"
      certificate_chain_file: "{{ dehydrated_cert_dir }}/{{ domain }}/chain.pem"
  - name: 04-rtail
    server_name: log.{{ domain }}
    include:
      - "{{ apache_snippet_dir }}/redirect_https.conf"

# --------------
# Apacheの設定
# その他の設定値は、「provision/roles/apache/defaults/main.yml」を参照
# --------------
apache_cfg:
  # EnableSendfileをOffに変更(VirtualBoxの共有ディレクトリ機能用)
  enable_sendfile: no

# 不要なモジュールを無効化
apache_module_lua: no
apache_module_dav:
  dav: no
  dav_fs: no
  dav_lock: no
apache_module_lbmethod:
  bybusyness: no
  byrequests: no
  bytraffic: no
  heartbeat: no
apache_module_proxy:
  ajp: no
  balancer: no
  ftp: no

# --------------
# dehydratedの各種設定
# --------------
dehydrated_cfg:
  challengetype: dns-01

dehydrated_hook_initialize: |
  export PROVIDER="{{ lexicon_provider }}"
  # Cloudflare
  export LEXICON_CLOUDFLARE_USERNAME="{{ cloudflare_email }}"
  export LEXICON_CLOUDFLARE_TOKEN="{{ cloudflare_token }}"
  # Route53
  export LEXICON_ROUTE53_ACCESS_KEY="{{ aws_access_key }}"
  export LEXICON_ROUTE53_ACCESS_SECRET="{{ aws_access_secret }}"
  # Vultr
  export LEXICON_VULTR_TOKEN="{{ vultr_token }}"

dehydrated_hook_deploy_challenge: |
  lexicon ${PROVIDER} create ${DOMAIN} TXT --name="_acme-challenge.${DOMAIN}." --content="${TOKEN_VALUE}"
  sleep 30

dehydrated_hook_clean_challenge: |
  lexicon ${PROVIDER} delete ${DOMAIN} TXT --name="_acme-challenge.${DOMAIN}." --content="${TOKEN_VALUE}"

dehydrated_domains:
  - ["{{ domain }}", "www.{{ domain }}", "db.{{ domain }}", "mail.{{ domain }}", "er.{{ domain }}", "log.{{ domain }}"]

dehydrated_auto_execute: yes
