{% if ec_cube.shop_name is defined -%}
UPDATE dtb_base_info SET shop_name="{{ ec_cube.shop_name }}" WHERE id = 1;
{% endif %}
{% if ec_cube.shop_kana is defined -%}
UPDATE dtb_base_info SET shop_kana="{{ ec_cube.shop_kana }}" WHERE id = 1;
{% endif %}
{% if ec_cube.shop_name_eng is defined -%}
UPDATE dtb_base_info SET shop_name_eng="{{ ec_cube.shop_name_eng }}" WHERE id = 1;
{% endif %}
{% if ec_cube.company_name is defined -%}
UPDATE dtb_base_info SET company_name="{{ ec_cube.company_name }}" WHERE id = 1;
{% endif %}
{% if ec_cube.company_kana is defined -%}
UPDATE dtb_base_info SET company_kana="{{ ec_cube.company_kana }}" WHERE id = 1;
{% endif %}
{% if ec_cube.postal_code is defined -%}
UPDATE dtb_base_info SET postal_code="{{ ec_cube.postal_code }}" WHERE id = 1;
{% endif %}
{% if ec_cube.pref is defined -%}
UPDATE dtb_base_info AS base_info, (SELECT mtb_pref.id FROM  mtb_pref WHERE name = "{{ ec_cube.pref }}") AS pref SET base_info.pref_id = pref.id WHERE base_info.id = 1;
{% endif %}
{% if ec_cube.addr01 is defined -%}
UPDATE dtb_base_info SET addr01="{{ ec_cube.addr01 }}" WHERE id = 1;
{% endif %}
{% if ec_cube.addr02 is defined -%}
UPDATE dtb_base_info SET addr02="{{ ec_cube.addr02 }}" WHERE id = 1;
{% endif %}
{% if ec_cube.phone_number is defined -%}
UPDATE dtb_base_info SET phone_number="{{ ec_cube.phone_number }}" WHERE id = 1;
{% endif %}
{% if ec_cube.business_hour is defined -%}
UPDATE dtb_base_info SET business_hour="{{ ec_cube.business_hour }}" WHERE id = 1;
{% endif %}
{% if ec_cube.email01 is defined -%}
UPDATE dtb_base_info SET email01="{{ ec_cube.email01 }}" WHERE id = 1;
{% endif %}
{% if ec_cube.email02 is defined -%}
UPDATE dtb_base_info SET email02="{{ ec_cube.email02 }}" WHERE id = 1;
{% endif %}
{% if ec_cube.email03 is defined -%}
UPDATE dtb_base_info SET email03="{{ ec_cube.email03 }}" WHERE id = 1;
{% endif %}
{% if ec_cube.email04 is defined -%}
UPDATE dtb_base_info SET email04="{{ ec_cube.email04 }}" WHERE id = 1;
{% endif %}
{% if ec_cube.good_traded is defined -%}
UPDATE dtb_base_info SET good_traded="{{ ec_cube.good_traded | trim }}" WHERE id = 1;
{% endif %}
{% if ec_cube.message is defined -%}
UPDATE dtb_base_info SET message="{{ ec_cube.message | trim }}" WHERE id = 1;
{% endif %}
{% if ec_cube.delivery_free_amount is defined -%}
UPDATE dtb_base_info SET delivery_free_amount={{ ec_cube.delivery_free_amount if ec_cube.delivery_free_amount != None else 'null' }}  WHERE id = 1;
{% endif %}
{% if ec_cube.delivery_free_quantity is defined -%}
UPDATE dtb_base_info SET delivery_free_quantity={{ ec_cube.delivery_free_quantity if ec_cube.delivery_free_quantity != None else 'null' }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_product_delivery_fee is defined -%}
UPDATE dtb_base_info SET option_product_delivery_fee={{ 1 if ec_cube.option_product_delivery_fee else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_customer_activate is defined -%}
UPDATE dtb_base_info SET option_customer_activate={{ 1 if ec_cube.option_customer_activate else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_mypage_order_status_display is defined -%}
UPDATE dtb_base_info SET option_mypage_order_status_display={{ 1 if ec_cube.option_mypage_order_status_display else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_favorite_product is defined -%}
UPDATE dtb_base_info SET option_favorite_product={{ 1 if ec_cube.option_favorite_product else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_remember_me is defined -%}
UPDATE dtb_base_info SET option_remember_me={{ 1 if ec_cube.option_remember_me else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_nostock_hidden is defined -%}
UPDATE dtb_base_info SET option_nostock_hidden={{ 1 if ec_cube.option_nostock_hidden else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_product_tax_rule is defined -%}
UPDATE dtb_base_info SET option_product_tax_rule={{ 1 if ec_cube.option_product_tax_rule else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.option_point is defined -%}
UPDATE dtb_base_info SET option_point={{ 1 if ec_cube.option_point else 0 }} WHERE id = 1;
{% endif %}
{% if ec_cube.basic_point_rate is defined -%}
UPDATE dtb_base_info SET basic_point_rate={{ ec_cube.basic_point_rate if ec_cube.basic_point_rate != None else 'null'}} WHERE id = 1;
{% endif %}
{% if ec_cube.point_conversion_rate is defined -%}
UPDATE dtb_base_info SET point_conversion_rate={{ ec_cube.point_conversion_rate if ec_cube.point_conversion_rate != None else 'null' }} WHERE id = 1;
{% endif %}
{% if ec_cube.authentication_key is defined -%}
UPDATE dtb_base_info SET authentication_key="{{ ec_cube.authentication_key }}" WHERE id = 1;
{% endif %}
