#!/bin/sh
mkdir -p /vagrant/output/schema

TBLS_PARAMS=''
if [ -f /vagrant/src/.tbls.yml ]; then
  TBLS_PARAMS='--config /vagrant/src/.tbls.yml'
else
  if [ -f /vagrant/src/tbls.yml ]; then
    TBLS_PARAMS='--config /vagrant/src/tbls.yml'
  fi
fi
/usr/bin/tbls coverage ${TBLS_PARAMS}
