#!/bin/sh
mkdir -p /vagrant/source/docs/schema

TBLS_PARAMS=''
if [ -f /vagrant/.tbls.yml ]; then
  TBLS_PARAMS='--config /vagrant/.tbls.yml'
else
  if [ -f /vagrant/tbls.yml ]; then
    TBLS_PARAMS='--config /vagrant/tbls.yml'
  fi
fi
/usr/bin/tbls doc ${TBLS_PARAMS} --rm-dist
