.md-grid {
  max-width: 80rem;
}
.md-content__inner {
  position: relative;
}
.md-source-file {
  position: absolute;
  top: 10px;
  right: 10px;
}
/**
  * hint.css customizations
  * @see https: //github.com/chinchang/hint.css
  */
[class*="hint--"] {
  border-bottom: 0.05rem dotted var(--md-default-fg-color--light);
}

[class*="hint--"]:hover {
  cursor: help;
  text-decoration: none;
}
