[defaults]
retry_files_enabled = false
host_key_checking = false
hash_behaviour = merge
stdout_callback = community.general.yaml
# inventory = inventory.yml
# executable = /bin/sh

gathering = smart
fact_caching = ansible.builtin.jsonfile
# fact_caching = community.general.yaml
fact_caching_connection = .cache
# fact_caching_timeout = 86400

roles_path = ../.vagrant/provisioners/ansible/roles

[diff]
# always = False
# context = 3

[connection]
pipelining = True
