[defaults]
hash_behaviour = merge
retry_files_enabled = false
host_key_checking = false
# inventory = inventory.yml
stdout_callback = community.general.yaml

# check_mode_markers = false
# display_failed_stderr = false
# display_ok_hosts = true
# display_skipped_hosts = true
# show_custom_stats = false
# show_per_host_start = false
# show_task_path_on_failure = false
