[defaults]
retry_files_enabled = false
host_key_checking = false
hash_behaviour = merge
# callback_format_pretty = true
# callback_result_format = json
callback_result_format = yaml

# inventory = inventory.yml
# executable = /bin/sh

gathering = smart
fact_caching = ansible.builtin.jsonfile
fact_caching_connection = .cache
# fact_caching_timeout = 86400

roles_path = ../.vagrant/provisioners/ansible/roles

[diff]
# always = False
# context = 3

[connection]
pipelining = True
