services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VARIANT: "8"
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ..:/workspace:cached
      - ./php/z-custom.ini:/usr/local/etc/php/conf.d/z-custom.ini
    command: sleep infinity
    depends_on:
      - db
  db:
    image: mariadb:10.11
    restart: unless-stopped
    volumes:
      - ./mariadb/z-customize.cnf:/etc/mysql/mariadb.conf.d/z-customize.cnf
      - ./mariadb/create_db.sql:/docker-entrypoint-initdb.d/create_db.sql
      - mariadb-data:/var/lib/mysql
    environment:
      TZ: Asia/Tokyo
      MYSQL_ROOT_PASSWORD: mariadb
      # MYSQL_DATABASE: app_dev
      # MYSQL_USER: app_dev_user
      # MYSQL_PASSWORD: app_dev_password
volumes:
  mariadb-data:
