-- Change root password
SET PASSWORD FOR 'root'@'::1' = PASSWORD('{{ mariadb_root_password }}');
SET PASSWORD FOR 'root'@'127.0.0.1' = PASSWORD('{{ mariadb_root_password }}');
SET PASSWORD FOR 'root'@'localhost' = PASSWORD('{{ mariadb_root_password }}');
-- Remove anonymous users
DELETE FROM mysql.user WHERE User='';
-- Remove test database and access
DROP DATABASE IF EXISTS test;
-- Disallow root login remotely
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost',  '127.0.0.1',  '::1');
-- Reload privilege tables
FLUSH PRIVILEGES;
