[Unit]
Description=rtail-server Service
After=network.service

[Service]
Type=simple
User={{ rtail_user }}
ExecStart=/usr/bin/rtail-server --udp-host {{ rtail_udp_ip }} --udp-port {{ rtail_udp_port }} --web-host {{ rtail_web_ip }} --web-port {{ rtail_web_port }}
Restart=always

[Install]
WantedBy=multi-user.target
