TraceEnable {{ 'On' if apache_secrity_cfg.trace_enable else 'Off' }}
ServerTokens {{ apache_secrity_cfg.server_tokens }}

{% for name, value in apache_secrity_cfg.headers.iteritems() %}
Header set {{ name }} {{ value }}
{% endfor %}
