TraceEnable {{ 'on' if apache_secrity_cfg.trace_enable else 'off' }}
ServerTokens {{ apache_secrity_cfg.server_tokens }}

{% for name, value in apache_secrity_cfg.headers.items() %}
Header set {{ name }} {{ value }}
{% endfor %}
