{% if webfont_css_output_license_text is defined %}
{{ webfont_css_output_license_text | comment('cblock') }}
{% endif %}
{% for webfont_font_file in webfont_font_files if webfont_font_file.css is defined %}
{% set font_file = webfont_font_file.output_file | default(webfont_font_file.src | basename) %}
{% set file_name = font_file[:-4] %}
@font-face {
{% if webfont_font_file.css.comment is defined %}
  /* {{ webfont_font_file.css.comment }} */
{% endif %}
  font-family: '{{ webfont_font_file.css.family }}', monospace;
  src:
    url('{{ webfont_css_font_path}}/{{ file_name }}.woff2') format('woff2'),
    url('{{ webfont_css_font_path}}/{{ file_name }}.woff') format('woff'),
{% if font_file.endswith('.ttf') %}
    url('{{ webfont_css_font_path}}/{{ font_file }}') format('truetype');
{% elif font_file.endswith('.otf') %}
    url('{{ webfont_css_font_path}}/{{ font_file }}') format('opentype');
{% endif %}
  font-style: {{ webfont_font_file.css.style | default(webfont_css_default.style) }};
  font-weight: {{ webfont_font_file.css.weight | default(webfont_css_default.weight) }};
  font-display: {{ webfont_font_file.css.display | default(webfont_css_default.display) }};
}
{% endfor %}
