language: python
services: docker
env:
  global:
    - ROLE_NAME: memcached
before_install:
  - sudo apt-get -qq update
install:
  - python3 -m pip install ansible
  - python3 -m pip install molecule[docker,lint]
before_script:
  - cd ../
  - mv ansible-role-$ROLE_NAME $ROLE_NAME
  - cd $ROLE_NAME
script:
  - molecule test
notifications:
  email: false
  slack:
    secure: Z52MppAllKtkVYUlPXVlgudrEjuwvkC2QGtL1jw4ewooLlpLncI+3U6F40ewjgxRJ8vbjr3zyZB/RA8FIySlCIGJgwldwsJHu7VWlM2FcZ9BMr4IGMugEAOOtxPKryHjzhVU5Dxz9WHH5KZ5Kl7re/BRGIaBFUnnaIA87NUHB26FHDPOd4Rpxq0B13GqpaQ1OFG/CETQ9YTMPw2eNPNBZkB1tmyVE1OS5Q+lI97+qG1feqN7UFZwTXQgyTsRl9dV4tBY2LSu/9H9UWh11FBm2kuSbKFLlp8r+jZywvZw56BZ5RDvEW7hx7E4d6FKzp87ywd6CAit9jMpVuhy+uNXiz3DRS7OaREWQWIWx+pMYi6zulcygGyiX7pFGW3BFO/u847Q8DVOWDP9TdPYXZvMIfTUP/BYziHyYuUz8EJDVSrLwAoSIdE3QjoihhkmR48PdTAWQzy7fiNCBSFlVGZqExLZnU84djZqZZ2K2uBDQ+cJQ89BK/Ip8BkYe7f/Fzb2dORgx6Nf1VTa6r2OG/Sa6792SsxNEzmg1StxSJIgniN5lqP1Tq9g764uJoLg5H2fupl8AwLwk/q106MgCw1NMov5Bx0kUq93DRk1xVLU5hKahTFXgDt+TcxtjFnFZ4DkamHzOvSKQfpRUHExPHvXswxObuqptB2IMKDGSmbEKBE=
